<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Reagent Inventory</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

  <nav id="nav">
		<div class="container" id="navContainer">
      <a href="/"><h1 class="nav-header">Reagent Inventory</h1></a>
      <div class="navOptions">
        <div class="navOption">
          <a href="/add"><h4 class="option">Add Reagent</h4></a>
        </div>
        <div class="navOption">
          <a href="/pendingQC"><h4 class="option">Pending QC</h4></a>
        </div>
        <div class="navOption">
          <a href="/departments"><h4 class="option">Department</h4></a>
        </div>
      </div>
		</div>
	</nav>