<%- include("_header") -%>
<div class="formContainer">
  <div class="formAreaMedium">
    <form action="/add" method="post">
      <div class="formInput">
    
        <%- include("_add") -%>
    
        <div class="">
          <label class=""></label>
          <div class="buttonRow">
            <input type="submit" value="Add">
            <a class="cancel" href="/"><h5>Cancel</h5></a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
  

<%- include("_footer") -%>