<%- include("_header") -%>
<div class="formContainer">
  <div class="formArea">
    <form action="/add" method="post">
      <div class="formInput">
    
        <%- include("_add") -%>
    
        <div class="">
          <label class=""></label>
          <div class="">
            <button class="edit" type="submit">Add</button>
            <button class="remove"><a class="" href="/">Cancel</a></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
  

<%- include("_footer") -%>