<%- include("_header") -%>
<div class="formContainer">
  <div class="formArea">
    <form action="/add" method="post">
      <div class="formInput">
    
        <%- include("_add") -%>
    
        <div class="">
          <label class=""></label>
          <div class="">
            <input type="submit" value="Submit" class="btn btn-default btn-success" />
            <a class="btn btn-outline-dark cancel" href="/">Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
  

<%- include("_footer") -%>