<!--this file is the /bench route and will display different instrument and link to the instrument endpoint-->
<%- include("_header") -%>
<div class="container">
    <div class="cardContainer">
        <% for (const obj of model){ %>
            <% for (const instrument in obj){  %>
                <a href="/instrument/<%= obj[instrument]%>"><div class="card">
                    <div class="cardBody">
                        <h5 class="cardTitle"><%= obj[instrument] %></h5>
                        <!--Progress bar-->
                    </div>
                </div></a>
            <% } %>
        <% } %>
    </div>
</div>
<%- include("_footer") -%>