<%- include("_header") -%>

<!--This is the home page

in the main body there should be a explaination of what this app can do

maybe some screen shots of how to navigate

a sql query for the drop down to navigate to different departments -->
    <% for (const bench in model){  %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <a href="/bench/<%= bench%>" class=""><h5 class="card-title"><%= bench %></h5></a>
                <!--Progress bar-->
            </div>
        </div>
    <% } %>
<%- include("_footer") -%>