<%- include("_header") -%>
<div class="container homeContent">
    <div class="mainText">
        <h1 class="mainItem">Inventory tracking made effortless.</h1>
        <p class="mainItem">Inventory manager allows your lab to effectively maintain reagent quanitites while providing
            documentation of required by regulatory agencies.
        </p>
        <a href="/add"><button class="edit mainItem getStarted" type="button">Get Started</button></a>
        
    </div>
    <div class="mainImgDiv">
        <img class="mainimg" src="images/tracking-image.jpg" alt="tracking">
    </div>
</div>

<div class="homeContent explanations">
    <div class="explanation">
        <div class="items"><i class="far fa-plus-square fa-3x"></i></div>
        <div class="items"><h4 class="">Add Reagents</h4></div>
        <div class="items"><p class="">Easily add new reagents as you receive them.</p></div>
    </div>
    <div class="explanation">
        <div class="items"><i class="far fa-edit fa-3x"></i></div>
        <div class="items"><h4>Update Quantities and Information</h4></div>
        <div class="items"><p>Edit reagent information and remove items as needed.</p></div>
    </div>
    <div class="explanation">
        <div class="items"><i class="fas fa-table fa-3x"></i></div>
        <div class="items"><h4>Track Quality Control</h4></div>
        <div class="items"><p>Update quality control information when performed.</p></div>
    </div>
</div>

<%- include("_footer") -%>
