<!--This view is the /pendingQC route and will display a log of individual reagents with pending QC. There will
be a button to update the qc and will be redirected to that reagents form to update qc-->
<%- include("_header") -%>
<div style="overflow-x:auto;">
  <table id="reagentTable">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Reagent</th>
          <th scope="col">Lot</th>
          <th scope="col">Receive Date</th>
          <th scope="col">QC Status</th>
          <th scope="col">Update QC</th>
        </tr>
      </thead>
      <tbody>
          <% for (const obj of model){ %>
            <% let reagentData = Object.values(obj) %>
            <tr>
            <% reagentData.forEach(function (reagent){ %>
              <td><%= reagent %></td>
            <% }) %>
              <td><a href="/qcForm/<%= reagentData[0] %>"><button type="button" class="remove">Edit</td></a></button>
            </tr>
          <% } %>
      </tbody>
    </table>
</div>

  <%- include("_footer") -%>